*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-pai{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(237, 167, 255);
    height: 30vh;
    flex-wrap: wrap;
}
.container-filho{
    background-color: rgb(250, 117, 255);
    padding: 50px;
}

header{
    background-color: rgb(240, 72, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 40px;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0px 10x;
    
}

.hidden{
    display: none;
}
/*========================================================================*/
@media(max-width:800px){
    .container-pai{
        flex-direction: column;
        height: 200vh;
    }
    .container-filho{
        min-width: 80vw;
        height: 80vw;
    }
    .menu-mobile{
        display: flex;
    }
    header nav{
        display: none;
    }

}